/* Update for Button.scss */
@use "@styles/global/index.scss" as *;

.button {

    color: $color-white;
    padding: 1.15rem 3.2rem;
    border: none;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
    @include typography(button);

    &_blue {
        background-color: $color-blue;

        &:hover {
            background-color: $color-blue-hover;
        }
    }

    &_gray {
        background-color: $color-gray900;

        &:hover {
            background-color: $color-black;
        }
    }
    
    @media (max-width: 480px) {
        width: 100%;
        text-align: center;
    }
}