$color-black: #131313;
$color-gray900: #383838;
$color-gray800: #787F85;
$color-gray700: #959DA3;
$color-gray600: #ACB3B9;
$color-gray500: #C1C6CB;
$color-gray400: #CDD2D7;
$color-gray300: #DADEE2;
$color-gray200: #EEF0F4;
$color-gray100: #F7F9FB;
$color-white: #FFFFFF;


$color-blue: #0066FF;
$color-light-blue: #A6CEF1;
$color-blue-hover: #175098;

$box-shadow: 0 0 2.4rem 0 #26292B26;
$box-light-shadow: 0 0 1.6rem 0 #1E1E1E1A;